*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}
.carousel{
    width: 500px;
    height: 530px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

    overflow: hidden;
}
.image-container{
    display: flex;

    /* transform: translate(-500px); */
    /* transform: translate(-1000px); */
    transform: translate(0px);

    transition: all 0.5s;
}
img{
    width: 100%;
    height: 500px;

    object-fit: cover;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 49.5%;
    background-color: orchid;
    color: #fff;
    border: none;

    padding: 0.5rem;
}
.btn:hover{
    opacity: 0.9;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: none;
}